<!DOCTYPE html>
<html>
  <head>
    <title>RockPaperScissors!</title>
    <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css'>
  </head>
  <body>
      <h1>@Model</h1>
      <a href="/">Play Again?</a>
  </body>
</html>
